<!DOCTYPE html>
<!--https://www.guru99.com/learn-functions-in-javascript-in-5-minutes.html-->

<html>
    <head>
        
        <title>Java Script tutorial</title>
        
        <script type="text/javascript">
            function returnSum(first, second) 
            {
                var sum = first + second; 
                return sum;
            } 
            var firstNo = 78; 
            var secondNo = 22;            
            document.write(firstNo + " + " + secondNo + " = " + returnSum(firstNo, secondNo));
        </script>

    </head>
    <body>        
    </body>
</html>